<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>SSO登录平台</title>
</head>
<body>
	<div style="background-color: green; text-align: center;">
		<form th:action="@{/doLogin}" method="post">
				<label> SSO登录 </label>
					<input type="hidden" name="originalUrl" th:value="${originalUrl}" />
					<div>
						<label> SSO用户名 : <input type="text" name="userName" />
						</label>
					</div>
					<div>
						<label> SSO密码 : <input type="password" name="password" />
						</label>
					</div>
					<div>
						<input type="submit" value="登录" />
					</div>
		</form>
	</div>
</body>
</html>

